.blog_row{
	margin-top: 5%!important;
	padding: 15px;
}
.card{
	display: flex;
	justify-content: space-between!important;
}
.infoDiv{
	display: flex;
	justify-content: end;
	text-align: right!important; 
	align-items: right; 
}