{% extends "../base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/generic.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/landingPage.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/createNew.css" %}">

    <title>myBlog</title>
{% endblock %}   

{% block body %}
  <div class="body container">
    
    <div class="body-content">
	    <div>
	    	<img class="landing_page_image" src="{% static 'images/lp2.png' %}">
	    </div>
	    <div class="row no-gutters button-row">
	    	<button class="col-sm-12 col-md-6 generic-button" onclick="triggerModal()">Create New</button>
	    	<button class="col-sm-12 col-md-6 generic-button" onclick="location.href='/blogGallery'">View</button>
	    </div>
    </div>


	<div class="modal fade bd-example-modal-xl" id="createNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-xl" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modalLabel">Create</h5>
	        <button type="button" class="close modal-close-button" data-bs-dismiss="modal" aria-bs-label="Close">
	          <span aria-bs-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="modalBody">
	      	
	        <div id="main_div"></div>
	        <div id="editor-container"></div>

	        <div class="modal-footer">
	        	<button type="button" class="modal-button" onclick="formSubmit()">Create</button>
	      	</div>
	      </div>
	      
	    </div>
	  </div>
	</div>

  </div>
{% endblock %} 

{% block script %}
	<script src="{% static 'js/csrf.js' %}"></script>
	<script src="{% static 'js/createNew.js' %}"></script>
{% endblock %}

